*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #e9ebee;
}

.f-card {
  background-color: white;
  /*height:400px;*/
  width: 502px;
  border: 1px solid #d0d1d5;
  border-radius: 3px;
  margin: auto;
  margin-bottom: 10px;
  padding: 12px;

  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Not original, just a test */
}

.header {
  margin-bottom: 17px;
}

.co-logo {
  /*display:block;*/
  float: left;
  margin-right: 8px;

  width: 3.5rem;
  height: 3.5rem;
}

.co-name > a {
  font-family: Helvetica;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.38;
  color: #365899;
  text-decoration: none;

  margin-bottom: 2px;
}

.co-name > a:hover {
  text-decoration: underline;
}

.time {
  font-family: Helvetica;
  font-size: 12px;
  color: #90949c;
}

.time > a {
  color: #90949c;
  text-decoration: none;
}

.time > a:hover {
  text-decoration: underline;
}

.options {
  font-family: Helvetica;
  font-size: 12px;
  color: #e5e5e5;
  float: right;
}

.options:hover {
  color: black; /* Fallback */
  color: rgba(0, 0, 0, 0.3);
}

.content {
  font-size: 1rem;
  padding-bottom: 0.2rem;
  line-height: 1.38;
  margin-left: 2rem;
}

.reference {
  width: 31.5rem;
}
img.reference-thumb {
  display: block;
  /* width: 476px; */
  width: 100%;
  height: auto;
  /* margin: 1rem; */
  padding: 0.5rem;
  border-radius: 3px;
}
img.reference-thumb:hover {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  zoom: 100%;
}

.reference-title {
  font-family: Georgia;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;

  margin-bottom: 5px;
}

.reference-subtitle {
  font-family: Helvetica;
  font-size: 12px;
  line-height: 16px;
}

.reference-font {
  color: #90949c;
  font-family: Helvetica;
  font-size: 11px;
  line-height: 11px;
  text-transform: uppercase;

  padding-top: 9px;
}

.social {
  margin-top: 12px;
}
.social-buttons {
  color: #7f7f7f;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  border-top: 1px solid #e5e5e5;
  padding-top: 4px;
}

.material-icons.postcardmi {
  font-size: 1.5rem;
  color: black;
  cursor: pointer;
}

.social-buttons span {
  font-size: 12px;
  margin-right: 20px;
  padding: 4px 4px 4px 0;
}

.social-buttons span:hover {
  text-decoration: underline;
  cursor: pointer;
}

.social-buttons span i {
  padding-right: 4px;
}
.comments-container {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.reference-video {
  width: 100%;
  margin-top: 0.5rem;
}
.reference-content {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1rem;
}
input[type="text"].commnet-text {
  width: 100%;
  padding: 1rem;
  outline: none;
}
.comment-box-data {
  display: flex;
  width: 100%;
  margin: 1rem;
  justify-content: center;
  align-items: center;
  height: 5rem;
}
img.avatar_image {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}
.comment-card {
  width: 100%;
  height: 4rem;
  display: flex;
}
.comment-box-data1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 1rem;
}
p.text-content {
  margin: 2rem;
}
.username-and-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
hr {
  width: 100%;
  height: 1px;
  background-color: #e5e5e5;
}
.like-dislike-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
}
.material-icons.commentsmi {
  cursor: pointer;
  font-size: 1.5rem;
}
input[type="submit"].btn-submit {
  background-color: #365899;
  color: white;
  border: none;
  padding: 0.5rem;
  border-radius: 3px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 1rem;
  width: auto;
}
input[type="text"].input-comment-text {
  width: 28vh;
  padding: 1rem;
  margin: 1rem;
  outline: none;
}
.form-container {
  /* margin-top: rem; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.reference-pdf {
  width: 100%;
  margin: 1rem;
  height: 18rem;
}
