.Signup-Form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.form-control {
  display: flex;
  height: auto;
  align-items: center;
  justify-content: center;
  background-color: gray;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
}
.login-page-title {
  font-size: 2rem;
  font-weight: bold;
  color: #000;
  margin-top: 5rem;
  text-align: center;
}
.login-instruction {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
input:valid {
  border: 1px solid green;
}
