.navigation-menu {
  position: fixed;
  width: 100%;
  top: 0;
}

span.material-icons.navigationmi {
  font-size: 2rem;
}
.user-avatar img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  padding: 0.8rem;
}
.navigation__right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
