.rte-editor {
  margin-top: 5rem;
  margin-bottom: 6rem;
  margin-left: auto;
  margin-right: auto;
  width: 45rem;
  position: relative;
  height: auto;
  border-radius: 0.3rem;
  padding: 0.5rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.videoIcon {
  font-size: 2rem;
}
/*  */
input[type="file"] {
  visibility: hidden;
  cursor: pointer;
  border: none;
  display: inline;
  width: 1rem;
  height: 1rem;
}
.rte-icons1 {
  font-size: 2rem;
  cursor: pointer;
}
.avatar-editor {
  display: flex;
  justify-content: flex-start;
  margin: 0.3rem;
  align-items: center;
}
img.avatar-img {
  height: 5rem;
  width: 5rem;
  border-radius: 0.5rem;
  margin-top: -2rem;
}
.icons-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: auto;
}

.media-preview {
  width: 37%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 7rem;
  overflow: auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
img.preview-image {
  width: 100%;
  padding: 1rem;
  height: auto;
  object-fit: cover;
}
video.video-preview {
  height: 25rem;
  width: 100%;
  padding: 1rem;
}
.preview-text {
  margin-top: 1rem;
}
