.ql-container.ql-snow {
  width: 28rem;
  font-size: 1rem;
  height: auto;
  border: 2px solid rgb(12, 5, 5);
}

.ql-toolbar.ql-snow {
  width: 28rem;
  display: flex;
  justify-content: space-between;
  border: 2px solid rgb(27, 18, 18);
}
